*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-image: url('clock-1274699_1280.jpg');
    background-repeat: none;
    background-size: cover;
    backdrop-filter: blur(5px);
}
.out{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.clock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.hour{
    backdrop-filter: blur(125px);
    height: 250px;
    width: 250px;
    border: black solid 1px;
    border-radius: 60px;
}
.minute{
    backdrop-filter: blur(125px);
    height: 250px;
    width: 250px;
    border: black solid 1px;
    border-radius: 60px;
}
.second{
    backdrop-filter: blur(125px);
    height: 250px;
    width: 250px;
    border: black solid 1px;
    border-radius: 60px;
}
.colon span{
    font-size: 200px;
    color: #40E0D0;
}
.holder{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(61, 16, 42);
}
.holder p{
    font-size: 65px;
}
.colon[data-visible="false"] {
    display: none;
}